<a onclick={{action 'toggleFullscreen'}}>
  <span class=" btn btn-primary btn-sm notMobile"> {{yield}}
    {{if isFullscreen 'Minimize' 'Maximize'}} </span>
  <i class="fa {{if isFullscreen 'fa-compress' 'fa-arrows-alt'}} onlyMobile" aria-hidden="true"></i>
</a>
