{{#if session.isAuthenticated}}

  <div id="header" class="header">

    {{#bs-nav type="tabs" as |nav|}}
      {{#nav.item}}{{#nav.link-to "index"}}Media{{/nav.link-to}}{{/nav.item}}

      {{#nav.item}}{{#nav.link-to "calendar"}}
        <span class="notMobile">Calendar</span>
        <i class="fa fa-calendar onlyMobile" aria-hidden="true"></i>
      {{/nav.link-to}}{{/nav.item}}

      {{#nav.item}}{{#nav.link-to "upload"}}
        <span class="notMobile">Import</span>
        <i class="fa fa-upload onlyMobile" aria-hidden="true"></i>
      {{/nav.link-to}}{{/nav.item}}
      {{#nav.item}}{{#nav.link-to "faces"}}Faces{{/nav.link-to}}{{/nav.item}}

      {{#nav.item}}{{#nav.link-to "admin"}}
        <span class="notMobile">Admin</span>
        <i class="fa fa-cog onlyMobile" aria-hidden="true"></i>
      {{/nav.link-to}}{{/nav.item}}

      {{user-info class="float_right"}}
    {{/bs-nav}}
  <!--span class="notMobile">Mode: </span>
  <input type="checkbox" name="viewMode" data-on-text="View" data-off-text="Edit" data-size="small" checked>
  <a title="Toggle calendar" onclick="toggleCalendar(); return false;" >
    <i class="fa fa-calendar" aria-hidden="true"></i>
  </a-->
  <!-- TODO: Move into tools menu item ->
  <a title="Find duplicates" id="findDupliBtn" style="display: none"><i class="fa fa-files-o" aria-hidden="true"></i></a-->
</div>

<div id="filleTop"></div>
<!-- Wrapper -->
<div id="wrapper">
{{outlet}}
<div id="filleBottom"></div>
</div>

{{else}}
  {{outlet}}
{{/if}}
