{{outlet}}

<h1> List of faces </h1>


<ul class="face_list">
  {{#each model as |face|}}
      {{#each face.items as |itm|}}
        <li>
          {{image-list-item item=itm}}
        </li>
      {{/each}}
  {{/each}}
</ul>
