{{outlet}}

<div id="selectedHeader" class="header subHeader" style="display: none">
  Selection: <span id="selectCnt">0</span>
  <a id="clrSlct" class="btn btn-xs btn-default">Clear</a>
  <a id="allSlct" class="btn btn-xs btn-default">Select all</a>
  <a id="invSlct" class="btn btn-xs btn-default">Invert</a>
  | Tags:
  <a id="addTag" class="btn btn-xs btn-default">Add</a>
  <a id="delTag" class="btn btn-xs btn-default">Delete</a>
  <a id="edtTag" class="btn btn-xs btn-default">Edit</a>
  | Image:
  <a id="delImg" class="btn btn-xs btn-default">Delete</a>
</div>
<div id="calendar-wrapper" style="display: none;">
  <div class="calendar-bootstrap"></div>
</div>

<div id="loginAlternatives" style="display: none">
  <a href="./auth/google" id="googleLoginBtn" style="display: none" class="loginBtn btn btn-social btn-google btn-lg">
    <i class="fa fa-google"></i>
    Sign In with Google
  </a>

</div>


    <!-- Main -->
    <div id="gallery" />
    
