<div class="fullSize fullSizeBg fixedPosition">
  <div class="wrapper">
    <div class="message">
      <h1>Shatabang!</h1>
      <p>Your own photo album for the Web</p>
      <form {{action 'authenticate' on='submit'}} id="adminLoginform">
			    <div>{{input id='username' placeholder='Enter Username' value=username}}</div>
			    <div>{{input id='password' placeholder='Enter Password' type='password' value=password}}</div>
			    <div>
            {{#if errorMessage}}
            <p style="float: left;" class="errorMessage">{{errorMessage}}</p>
          {{/if}}
          <input type="submit" value="Log In" style="float: right"/></div>
          <div style="clear: both;"></div>
			</form>
    </div>
  </div>
</div>
