<div class="fullSize fullSizeBg fixedPosition">
  <div class="wrapper">
    <div class="message">
      <h1>Shatabang!</h1>
      <p>Your own photo album for the Web</p>
      <form {{action 'authenticate' on='submit'}} id="adminLoginform">
			    <div>{{input id='username' placeholder='Enter Username' value=username}}</div>
			    <div>{{input id='password' placeholder='Enter Password' type='password' value=password}}</div>
			    <div>
            {{#if errorMessage}}
            <p style="float: left;" class="errorMessage">{{errorMessage}}</p>
            {{/if}}
          <input type="submit" value="Log In" style="float: right"/></div>
          <div style="clear: both;"></div>
			</form>
      <!-- Enable alternative authentication method -->
      {{#if useGoogle}}
        <hr style="margin-top: 30px; margin-bottom: 0;"/>
        <div id="loginAlternatives">
          <a href="./api/auth/google" id="googleLoginBtn" class="loginBtn btn btn-social btn-google btn-lg">
            <img src="assets/img/btn_google_signin_light_normal_web.png" alt="Sign in with google" />
          </a>
        </div>
      {{/if}}
    </div>
  </div>
</div>
