
{{#link-to 'index' class="back_to_index_btn btn btn-primary btn-sm float_right"}}X{{/link-to}}

<h1>Import new images</h1>
{{#drop-zone
  url='./api/upload/single'
  clickable=true
  addRemoveLinks=false
  maxFilesize=5000
  maxFiles=9999
  thumbnailWidth=120
  thumbnailHeight=120

  addedfile=addedFileEvent
  success=filesuccessEvent
  complete=filecompleteEvent
  sending=sendingEvent
  queuecomplete=queuecompleteEvent
}}{{/drop-zone}}

{{#if totalFileSize}}
  Progress: {{progress}}%<br/>
  Speed: {{speed}}kbs
{{/if}}
