


<form id="uploadForm" action="./api/upload/single" class="dropzone" onclick="event.stopPropagation()">
  <!--input type="file" name="uploaded" multiple="multiple" accept="image/*,video/*"/ -->
  <div class="fallback">
      <input name="file" type="file" multiple />
  </div>
</form>
