html, body, .fullSize{
  height: 100%;
  width: 100%;
}

.fixedPosition {
  position: fixed;
  top: 0;
  left: 0;
}

.fullSizeBg {
    background-image: url('fullBg.jpg') ;
		background-position: center center;
		background-repeat:  no-repeat;
		background-attachment: fixed;
		background-size:  cover;
		background-color: #999;
}

.wrapper {
  height: 100%;
  width: 100%;
}

.message {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;

  background-color: rgba(0,0,0,0.4);
  border: 1px solid grey;
  width: 75%;
  min-width: 100px;
  max-width: 450px;
  margin: auto;
  color: #fff;
  padding: 2em;
  position: relative;
  top: 50px;
}

#adminLoginform input {
  padding: 2px;
  margin-top: 10px;
}

#adminLoginform input[type="text"], #adminLoginform input[type="password"] {
    width: 100%;
}
